<!-- app.component.html -->

<div class="container">
  <!-- <h1>
    Welcome to {{title}}!!
  </h1> -->
  <form [formGroup]="angForm" novalidate>
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" formControlName="name" type="text" [ngClass]="{'is-invalid': angForm.controls['name'].invalid && (angForm.controls['name'].dirty && angForm.controls['name'].touched)}" />
      <div
        *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty && angForm.controls['name'].touched)"
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" formControlName="email" type="text" [ngClass]="{'is-invalid': angForm.controls['email'].invalid && (angForm.controls['email'].dirty && angForm.controls['email'].touched)}" />
      <div
        *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty && angForm.controls['email'].touched)"
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['email'].errors.required">
          email is required.
        </div>
        <div *ngIf="angForm.controls['email'].errors['pattern']">
          email is not valid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" formControlName="password1" type="password" [ngClass]="{'is-invalid': angForm.controls['password1'].invalid && (angForm.controls['password1'].dirty && angForm.controls['password1'].touched)}"/>
      <div
        *ngIf="angForm.controls['password1'].invalid && (angForm.controls['password1'].dirty && angForm.controls['password1'].touched)"
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['password1'].errors.required">
          password1 is required.
        </div>
        <div *ngIf="angForm.controls['password1'].errors.minlength">
          password1 length should be at least 8.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password2:</label>
      <input class="form-control" formControlName="password2" type="password" [ngClass]="{'is-invalid': angForm.controls['password2'].invalid && (angForm.controls['password2'].dirty ), 'is-valid': angForm.controls['password2'].valid && (angForm.controls['password2'].dirty )}" />
      <div
        *ngIf="angForm.controls['password2'].invalid && (angForm.controls['password2'].dirty && angForm.controls['password2'].touched)"
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['password2'].errors.required">
          password2 is required.
        </div>
        <div *ngIf="angForm.controls['password2'].errors.minlength">
          password2 length should be at least 8.
        </div>
        <div *ngIf="angForm.controls['password2'].hasError('NoPassswordMatch')" >Passwords are different. They should be equal!</div>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="angForm.pristine || angForm.invalid"
      class="btn "
      [ngClass]="angForm.pristine || angForm.invalid ? 'btn-failure' : 'btn-success' "
    >
      Save
    </button>
  </form>
  <br />
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
  <p>email error status: {{ angForm.controls.email.errors | json }}</p>
</div>
